* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* UTILITIES BEGIN */

.container {
    width: 1352px;
    margin: 0 auto;
}

.uppercase__style {
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 3.28px;
}

.main__text {
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-primary);
    color: var(--color-black);
}

/* UTILITIES END */

header {
    height: 70px;
    width: 100%;
    padding: 16px 0 17px 0;
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #00000029;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 49px;
    line-height: 57px;
    font-family: var(--font-secondary);
    color: var(--color-black);
}

/* LOGO */
.logo {
    font-size: 32px;
    line-height: 37px;
    font-family: var(--font-secondary);
    font-weight: 300;
    color: var(--color-primary);
}

 .menu ul {
    display: flex;
    align-items: center;
    gap: 95px;
    padding: 12px 0 10px 0;
}

.menu a {
    text-decoration: none;
    color: var(--color-grey);
}

.menu a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
    padding-bottom: calc(27px - 4px);
}
/* header end */

/* BUTTONS START */

.button {
    font-family: var(--font-primary);
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.button_green {
    background-color: var(--color-green);
}

.button_redish {
    background-color: var(--color-redish);
}

.button_blue {
    background-color: var(--color-primary);
}

/* BUTTONS END */

/* OPEN START */

.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_title {
    margin-top: 130px;
}

.banner_text {
    padding: 20px 0 38px 0;
}

.banner_button {
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 157px 23px 157px;
}

.banner_image {
    width: 100%;
    height: auto;
    bottom: 0;
}

/* OPEN END */

/*STATISTICS START */

.statistics .container {
    display: flex;
    align-items: center ;
    flex-direction: column;
}

h2 {
    font-family: var(--font-secondary);
    font-size: 36px;
    line-height: 42px;
    color: var(--color-black);
}

.statistics .container h2 {
    padding: 100px 0;
}

.statistics__boxes {
    display: flex;
    gap: 230px;
}

.statistics__boxes__single{
    width: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: absolute;
    padding-bottom: 14px;
}
.person {
    background-color: var(--color-redish);
}

.person::before {
    content: "";
    background-image: url("../assets/Person.svg");
    height: 52px;
    width: 44px;
    position: absolute;
    right: -10px;
}

.eye {
    background-color: var(--color-primary);
}

.eye::before {
    content: "";
    background-image: url("../assets/Eye.svg");
    background-repeat: no-repeat;
    height: 36.5px;
    width: 66px;
    position: absolute;
    right: -25px;
    top: 15px;
}

.folder {
    background-color: var(--color-green);
}

.folder::before {
    content: "";
    background-image: url("../assets/Catalog.svg");
    background-repeat: no-repeat;
    height: 48px;
    width: 52px;
    position: absolute;
    right: -18px;
    top: 7px;
}

.statistics__number {
    margin-top: 77px;
    font-family: var(--font-secondary);
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 5.96px;
}

.statistics__descripcion {
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-secondary);
    color: var(--color-grey);
    padding: 19px 0 121px 0;
    text-align: center;
}
/* STATISTICS END */

/* BENEFITS START */

.benefits {
    background-color: var(--color-light-grey);
    padding: 105px 0;
}

.benefits .container {
    padding: 0 124px;
}

.benefits__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__box__text {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__box__text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--box-color);
    display: block;
}

.benefits__box__text .main__text {
    padding: 30px 0 50px 0;
}

.benefits__box__image {
    position: relative;
}

.benefits__box__image img{
    position: relative;
    z-index: 2;
}


/* BENEFITS - NOTEBOOK */

.benefits__box__notebook {
    --box-color: var(--color-redish);
}

.benefits__box__notebook .benefits__box__image img{
    width: 386px;
    height: auto;
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits__box__notebook .benefits__box__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--box-color);
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    top: -40px;
    right: 110px;
}

/* BENEFITS PHONE */

.benefits__box__phone {
    --box-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits__box__phone .benefits__box__image img {
    width: 426px;
    height: auto;
}

.benefits__box__notebook .benefits__box__image img{
    width: 426px;
    height: auto;
    margin-bottom: 13px;
}

.benefits__box__phone .benefits__box__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--box-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}
/* BENEFITS TRUMPET */

.benefits__box__trumpet {
    --box-color: var(--color-green);
    display: flex;
    gap: 60px;
}

.benefits__box__trumpet > div {
    margin-bottom: 0;
}
.trumpet__column__left {
    width: 620px;
}

.trumpet__column__left .benefits__box__text {
    max-width: none;
    margin: 70px 35px;
}

.trumpet__box__image img {
    width: 295px;
    height: auto;
}

.trumpet__box__image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-color);

}




/* CONTACT START */

.contact .container {
    width: 896px;
    display: flex;
    padding: 155px 0 59px 0;

}

.contact__form, .contact__questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
}

.contact__questions p {
    padding: 22px 0 42px 0;
}

.contact__questions__details {
    display: flex;
    gap: 20px;
}

.contact__questions__details__item {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--color-grey);
}

.contact__questions__details__item img {
    width: 27px;
    height: 27px;
}

.contact__form__label {
    color: var(--color-primary);
}

.contact__form__input {
    border: none;
    width: 100%;
    border-bottom: 1px solid var(--color-grey);
    line-height: 42px;
}

.contact__form input:first-of-type {
    margin-bottom: 42px;
}


/* stylowanie niestandardowego chbxa start*/

.contact__form__chbx input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.contact__form__chbx {
    display: flex;
}

.contact__form__chbx span:first-of-type {
    height: 24px;
    flex-basis: 24px;
    flex-shrink: 0;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.contact__form__chbx input:checked + span {
    background-image: url("../assets/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* stylowanie niestandardowego chbxa end */


.contact__form__text {
    color: #707070;
    font-size: 12px;
    line-height: 17px;
    font-family: var(--font-primary);
    padding-left: 10px;
}

.contact__form__chbx {
    padding: 30px 0 20px;
}

.button__form {
    padding: 20px 97px;
    border-radius: 35px;
    align-self: flex-end;
}

/* CONTACT END */

/* FOOTER START */

.footer .container {
   display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0px -5px 40px #00000029;
}

.footer .logo {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 6.52px;
}

.footer_copy {
    font-size: 11px;
    font-family: var(--font-primary);
    line-height: 15px;
    color: var(--color-grey);
}

.footer_icons{
    display: flex;
    gap: 20px;
    padding: 35px 0 30px 0;
}

.footer_icons_icon {
    width: 24px;
    height: 24px;
    font-size: 13px;
    line-height: 18px;
}


/* FOOTER END */