$base-size: 20px;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
}

.container {
  width: 1352px;
  margin: 0 auto;

  @include notebook {
    width: 100%;
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
}
