$button-radius: 35px;

.button {
  font-family: $font-primary;
  color: $color-white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: $button-radius;


  &_green {
    background-color: $color-green;
  }

  &_redish {
    background-color: $color-redish;
  }

  &_blue {
    background-color: $color-primary;
  }

  &_large {
    padding: 22px 155px;
  }
}